*{ margin: 0%;
    padding: 0%;

}

a {
    text-decoration: none;
}

.bannerIndex{
    z-index: 1032!important;
}

.banner {
    width: 100%;
}
.statue {
    background-image: url(../img/background/Accueil1-desktop.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #eef4f0;
}

.statueFlower {
    background-image: url(../img/background/Accueil2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #eef4f0;
}

.statue:hover {
    background-image: url(../img/background/Accueil2-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #eef4f0;
}

/* .bg-image-branch {
    background-image: url(../img/background/branch.png);
    background-repeat: no-repeat;
} */



.woman-bottom {
    z-index: 0!important;
    height: 100vh;
}

.tree {
    max-width : 50vw;
}

.radBotom {
    border-radius: 0% 0% 30% 30%;
}

.blueBg {
    background-color:#7db095;
}

.block {
    background-color: white;
}

.toggle, .woman-bottom{
    display:flex
}

.toggle{
    margin-top: -10vh;
    z-index: 1!important;
    /* align-items: flex-end;
    justify-content: flex-end; */
    justify-items: flex-end;
    /* justify-content: end;  */

}


