*{ margin: 0%;

}

.statue {
    background-image: url(../img/background/Accueil1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.statue:hover,.statueFlower {
    background-image: url(../img/background/Accueil2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* .bg-image-branch {
    background-image: url(../img/background/branch.png);
    background-repeat: no-repeat;
} */

.banner {
    max-width: 100vw;
    z-index: 2;
}

.woman-bottom {
    z-index: 1!important;
    height: 100vh;
}

.tree {
    max-width : 50vw;
}